<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp uap3 rescap">
  <Identity Name="519cde94-f16d-443d-94e6-79307d16e347" Publisher="CN=Alex" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="519cde94-f16d-443d-94e6-79307d16e347" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>BlankWorder</DisplayName>
    <PublisherDisplayName>Alex</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BlankWorder.App">
      <uap:VisualElements DisplayName="BlankWorder" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="BlankWorder" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="images">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/jpeg">.jpg</uap:FileType>
              <uap:FileType ContentType="image/jpeg">.jpeg</uap:FileType>
              <uap:FileType ContentType="image/gif">.gif</uap:FileType>
              <uap:FileType ContentType="image/png">.png</uap:FileType>
              <uap:FileType ContentType="image/x-dcraw">.RAW</uap:FileType>
              <uap:FileType ContentType="image/x-nikon-nef">.NEF</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="removableStorage" />
    <uap3:Capability Name="remoteSystem" />
    <uap:Capability Name="picturesLibrary" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>